[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/wly3155
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wly3155
	label-Verified = -1..+1 group user/wly3155
	push = group user/wly3155
	read = group user/wly3155
	rebase = group user/wly3155
	removeReviewer = group user/wly3155
	submit = group user/wly3155
[access "refs/heads/*"]
	create = group user/wly3155
	push = +force group user/wly3155
	pushMerge = group user/wly3155
	read = group user/wly3155
[access "refs/tags/*"]
	push = group user/wly3155
	push = +force group user/wly3155
